.labelContextMenu {
  position: absolute;
  z-index: 3;
  background: rgb(11,146,176);
  background: linear-gradient(0deg, rgba(11,146,176,1) 0%, rgba(103,199,215,1) 42%, rgba(175,224,226,1) 100%);
  padding: 8px;
  box-shadow: 0px 0px 20px 2px grey;

  .okContextMenuBtn {
    margin-right: 8px;
  }
  .badge-container {
    display: flex;
    padding-bottom: 8px;
    .badgeOption {
      margin: 4px;
      width: 8px;
      height: 8px;
      &:hover {
        transform: scale(1.5);
      }
      &.clicked {
        transform: scale(1.5);
        border: 1px solid black;
      }
      &.primary {
        background-color: #007bff;
      }
      &.secondary {
        background-color: #6c757d;
      }
      &.success {
        background-color: #28a745;
      }
      &.danger {
        background-color: #dc3545;
      }
      &.warning {
        background-color: #ffc107;
      }
      &.info {
        background-color: #17a2b8;
      }
      &.light {
        background-color: #f8f9fa;
      }
      &.dark {
        background-color: #343a40;
      }
    }
  }

  .badge-container-heading {
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
  .prevBadgeContainer {
    display: flex;
    .prevUsedLabel {
      margin: 5px;
      cursor: pointer;
      &:hover {
        border: 1px solid black;
      }
    }
  }
}

._floating-menu-ctr {
  .selected {
    font-weight: 800;
  }
}

.curtain {
  z-index: 4 !important;
}
