.my-facebook-button-class {
  position: absolute;
  position: absolute;
  margin-top: 40vh;
  background: #3b5998;
  color: white;
  font-weight: 600;
  width: 200px;
  margin-left: calc(50vw - 100px);
}
.logout-button {
  float: right;
  margin-left: 10px;
  font-size: 10pt !important; /*Do disable bootstrap btn style*/
  padding: 0.15rem 0.75rem !important;
}

.checklist-container {
  width: 400px;
  margin-left: calc(50vw - 200px);
  margin-top: 10vh;
  min-width: 300px;
}

.menuItembutton {
  margin-top: 0.5vh;
  background-color: indianred;
  background: url(assets/trash.svg);
  border: none;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  border-radius: 15px;
  outline: 0;
  &:focus {
    outline-color: red;
  }
}
.menuLinkbutton {
  margin-top: 0.5vh;
  background-color: green;
  background: url(assets/menu.svg);
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  border: none;
  border-radius: 15px;
  &:focus {
    outline: 0;
  }
}
.nameHeader {
  padding-bottom: 2vh;
}
.userName {
  color: #3b5998;
  font-weight: 600;
}

.smallMenuButton {
  margin-top: 0.5vh;
  background-color: lightgrey;
  float: right;
  height: 15px;
  border-radius: 15px;
  &:hover {
    opacity: 0.9;
  }
  &.true {
    margin-right: 20px;
    background-color: darkblue;
  }
}
.smallMenuButton:focus {
  outline: 0;
}

.bootstrap-select {
  align-self: flex-end;
  height: 20px;
  width: 20px;
  margin: 3px;
}

.optionContainer {
  display: inline-flex;
}

.endTime {
  margin-left: 10px;
  display: inline-flex;
  height: 10px;
  font-size: 9px;
  font-weight: lighter;
  margin-top: -4px;
}

.list-link {
  overflow: hidden;
  font-size: 9px;
}
.accordion-toggle {
  border: none !important;
  background-color: transparent;
  float: left;
  text-align: left;
  font-size: 9px;
  opacity: 0.8;
  padding: 0px;
}
.accordion-toggle:focus {
  outline: 0;
}
.accordion-toggle:hover {
  opacity: 1;
}

.invisible-card {
  border: none !important;
}
.invisible-card-body {
  padding: 0px !important;
  padding-top: 10px !important;
}

.custom-select {
  width: 200px !important;
}

.toggle-container {
  height: 25px;
  width: 40px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 12px;
  float: right;
}

.color-status {
  position: absolute;
  height: 100% !important;
  width: 10px;
  background-color: grey;
  margin-top: -12px;
  margin-left: -20px;
  opacity: 0.6;
  &.defined {
    background-color: lightgrey;
  }
  &.inprogress {
    background-color: green;
  }
  &.completed {
    background-color: #54a6ff;
  }
}

.task-title {
  cursor: pointer;
}

.progress {
  height: 4px !important;
}

/* Dashboard*/

.dashboard {
  height: fit-content;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

#mypie {
  display: flex;
}

/*end of Dashboards*/

.genericLabel {
  margin-bottom: 6px;
}

.curtain {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 2;
}

.listOfTasksContainer {
  height: 60vh;
  overflow-y: scroll;
  border-top: 1px solid lightgrey;
  border-radius: 12px;
  border-bottom: 1px solid lightgrey;
}

.sortIcon {
  margin-top: 0.5vh;
  background: url(assets/sort.svg);
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  border: none;
  margin-right: 8px;
  &:focus {
    outline: 0;
  }
}
