.my-facebook-button-class {
  position: absolute;
  position: absolute;
  margin-top: 40vh;
  background: #3b5998;
  color: white;
  font-weight: 600;
  width: 200px;
  margin-left: calc(50vw - 100px);
}

.checklist-container {
  width: 400px;
  margin-left: calc(50vw - 200px);
  margin-top: 10vh;
  min-width: 300px;

  .logout-button {
    float: right;
    margin-left: 10px;
    font-size: 10pt !important; /*Do disable bootstrap btn style*/
    padding: 0.15rem 0.75rem !important;
  }

  .sortIcon {
    margin-top: 0.5vh;
    background: url(assets/sort.svg);
    background-repeat: no-repeat;
    height: 15px;
    margin-left: 24px;
    border: none;
    margin-right: 8px;
    &:focus {
      outline: 0;
    }
  }

  .welcomeBar {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
  }

  .toggle-container {
    height: 25px;
    width: 40px;
  }
}

.nameHeader {
  padding-bottom: 2vh;
  display: flex;
  font-family: MyFont;
}
.userName {
  color: #3b5998;
  font-weight: 600;
}

.smallMenuButton {
  margin-top: 0.5vh;
  background-color: lightgrey;
  float: right;
  height: 15px;
  border-radius: 15px;
  &:hover {
    opacity: 0.9;
  }
  &.true {
    margin-right: 20px;
    background-color: darkblue;
  }
}
.smallMenuButton:focus {
  outline: 0;
}

.bootstrap-select {
  align-self: flex-end;
  height: 20px;
  width: 20px;
  margin: 3px;
}

.optionContainer {
  display: inline-flex;
}

.accordion-toggle {
  border: none !important;
  background-color: transparent;
  float: left;
  text-align: left;
  font-size: 9px;
  opacity: 0.8;
  padding: 0px;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 1;
  }
}

.invisible-card {
  border: none !important;
}
.invisible-card-body {
  padding: 0px !important;
  padding-top: 10px !important;
}

.custom-select {
  width: 200px !important;
}

.progress {
  height: 4px !important;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 4px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

/* Dashboard*/

.dashboard {
  height: fit-content;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid lightgrey;
  border-radius: 8px;

  .color-filled-more {
    fill: darkgreen;
  }
}

#mypie {
  display: flex;
}

/*end of Dashboards*/

.genericLabel {
  margin-bottom: 6px;
}

.curtain {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 2;
}

.listOfTasksContainer {
  max-height: 60vh;
  margin: 10px;
  overflow-y: scroll;
  select {
    height: 20px;
    font-size: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: monospace;
  }
  .blur {
    filter: blur(1px);
  }
  .task-title {
    font-family: Roboto Italic;
    font-size: 12pt;
    cursor: pointer;
    max-height: 50px;
    max-width: 320px;
    white-space: nowrap;
    text-overflow: hidden;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: -5px;

    .details-icon {
      float: right;
      width: 0;
      visibility: hidden;
      background-color: grey;
      border-radius: 4px;
      color: white;
      opacity: 0.9;
      position: absolute;
      left: 75%;
      font-family: Arial;
      font-size: 10pt;
      padding-left: 8px;
      padding-right: 8px;
    }

    &:hover {
      .details-icon {
        visibility: visible;
        width: fit-content;
        animation: flip 0.5s ease-out;
      }
    }
  }

  .endTime {
    display: inline-flex;
    height: 10px;
    font-size: 9px;
    font-weight: 300;
  }

  .list-link {
    overflow: hidden;
    font-size: 9px;
  }

  .menuLinkbutton {
    position: absolute;
    top: 10px;
    right: 3px;
    background-color: green;
    background: url(assets/menu.svg);
    background-repeat: no-repeat;
    height: 15px;
    border: none;
    &:focus {
      outline: 0;
    }
  }
  .menuItembutton {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0.5vh;
    background-color: indianred;
    background: url(assets/trash.svg);
    border: none;
    background-repeat: no-repeat;
    //float: right;
    height: 15px;
    border-radius: 15px;
    outline: 0;
    &:focus {
      outline-color: red;
    }
  }

  .color-status {
    position: absolute;
    height: 100% !important;
    width: 10px;
    background-color: grey;
    margin-top: -12px;
    margin-left: -20px;
    opacity: 0.6;
    &.defined {
      background-color: lightgrey;
    }
    &.inprogress {
      background-color: green;
    }
    &.completed {
      background-color: #54a6ff;
    }
  }
}

.menuOption {
  font-size: 10pt;
  font-family: Roboto;
}

.calendar-icon {
  height: 12px;
  margin-right: 8px;
}

.dragIcon {
  float: left;
  height: 20px;
  width: 20px;
  margin-left: -20px;
  opacity: 0;
}

.list-group-item:hover {
  .dragIcon {
    opacity: 0.5;
    cursor: grab;
  }
}

#drag_temp {
  position: absolute;
  height: 40px;
  width: 100px;
  padding: 8px;
  background-color: #3484ff;
  border-radius: 2px;
  box-shadow: 2px 2px 3px 0px grey;
  color: white;
  font-family: Roboto;
}

@media screen and (max-width: 500px) {
  .checklist-container {
    margin-left: 0px;
    width: 100%;
  }
  .list-group-item:hover {
    .dragIcon {
      opacity: 0;
    }
  }
}

@keyframes flip {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 0.9;
  }
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/handy_ink/handy_ink.otf) format("opentype");
}

@font-face {
  font-family: "Flower Power";
  src: local("Flower Power"), url(./fonts/flower.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Serenity";
  src: local("Serenity"), url(./fonts/Serenity.otf) format("opentype");
}

@font-face {
  font-family: "Starlight";
  src: local("Starlight"), url(./fonts/Starlight.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Italic";
  src: local("Roboto Italic"),
    url(./fonts/Roboto-MediumItalic.ttf) format("truetype");
}
