.login-welcome {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  font-family: MyFont;
  font-size: 24px;
}
.my-facebook-button-class {
  position: absolute;
  position: absolute;
  margin-top: 40vh;
  background: #3b5998;
  color: white;
  font-weight: 600;
  width: 200px;
  margin-left: calc(50vw - 100px);
}
