.ql-container {
  min-height: 200px;
  max-height: 500px;
  height: 30vh;
}

.task-modal-title {
  word-break: break-all;
}

.ql-toolbar {
  &.ql-snow {
    border-bottom: none !important;
  }
}

.quill-box {
  &.hide-toolbar {
    span {
      display: none !important;
    }
  }
}
